body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: skyblue;
    width: 200px;
    padding: 20px 0;
    position: fixed;
    height: fit-content;
    text-align: center;
}

.nav-item {
    display: block;
    padding: 10px 0;
    color: blue;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-item1 {
    display: block;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    background-color: darkorange;
}

.nav-item:hover {
    background-color: orange;
    color: white;
}

.horizontal-navbar {
    background-color: lightgray;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 40px;
    width: fit-content;
    position: fixed; 
    top: 0;
    right: 0; 
}

.horizontal-nav-item {
    padding: 10px 20px;
    color: blue;
    text-decoration: none;
    transition: background-color 0.3s;
}
.horizontal-nav-item1{
    padding: 10px 20px;
    color: white;
    background-color: gray;
    text-decoration: none;
}
.horizontal-nav-item:hover {
    background-color: gray;
    color: white;
}
