body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.my-table {
    border-collapse: collapse;
    width: 100%;
}

.title-row {
    background-color: green;
    color: white;
}

.my-table th, .my-table td {
    padding: 8px;
    text-align: left;
    
}

.my-table tr:nth-child(even) {
    background-color:lightgray;
}

.my-table tr:nth-child(odd) {
    background-color: white;
}
